node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
/src/docs/.vitepress/dist
/src/docs/.vitepress/cache

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Coverage reports
coverage/
